<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid style="margin-top: 30%">
  <form [formGroup]="logInForm" (ngSubmit)="logIn()">
    <ion-item class="inputStyle" style="background: transparent;margin-top: -3%">
      <ion-label floating>Username*</ion-label>
      <ion-input type="text"  name="userName"
                 [(ngModel)]="logInModel.userName"  formControlName="userName" required
                 style="border-bottom: 0px"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.userName">
        <div class="error-message"
             *ngIf="logInForm.get('userName').hasError(validation.type) && (logInForm.get('userName').dirty || logInForm.get('userName').touched)">
          <span class="validation-error">{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>

    <ion-item class="inputStyle" style="background: transparent;margin-top: -3%">
      <ion-label floating>Password*</ion-label>
      <ion-input type="tel" class="form-control mask-text" name="password"
                 formControlName="password" required [(ngModel)]="logInModel.password"
                 style="border-bottom: 0px"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
             *ngIf="logInForm.get('password').hasError(validation.type) && (logInForm.get('password').dirty || logInForm.get('password').touched)">
          <span class="validation-error">{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <button ion-button full round class="butnStyle" type="submit" [disabled]="logInForm.invalid">Login</button>
  </form>
  </ion-grid>
</ion-content>
