<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title class="home-title">
      User Info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="banner">
      <div style="position: relative;padding:15px 12px;background-image: linear-gradient(#488aff,#f4f4f4);;min-height: 100%;overflow: hidden;max-height: 100%;">
         <img src="{{userInfo.picture.medium ? userInfo.picture.medium : 'assets/img/user-icon-circle.png'}}" alt="" class="profile-pic" />
          <h4 class="profile-name"><span style="text-transform: capitalize" [innerHTML]="userInfo.name.title"></span> {{userInfo.name.first}} {{userInfo.name.last}}</h4>
            <!-- <p class="profile-mail" text-center>{{userInfo.email}}</p> -->
      </div>
  </div>
      <ion-list no-margin>
          <ion-item-divider color="primary">Contact Info</ion-item-divider>
          <ion-item>
                  <ion-icon name="mail" item-start></ion-icon>
              <span style="text-transform: capitalize" [innerHTML]="userInfo.email"></span>
          </ion-item>
          <ion-item>
                  <ion-icon name="call" item-start></ion-icon>
              <span style="text-transform: capitalize" [innerHTML]="userInfo.cell"></span>
          </ion-item>
          <ion-item>
                  <ion-icon name="call" item-start></ion-icon>
              <span style="text-transform: capitalize" [innerHTML]="userInfo.phone"></span>
          </ion-item>
          <ion-item-divider color="primary">Personal Info</ion-item-divider>
          <ion-item>
                  <strong>Gender</strong>
              <span style="text-transform: capitalize" [innerHTML]="userInfo.gender"></span>
          </ion-item>
          <ion-item>
                <strong>DOB</strong>
              {{userInfo.dob.date | date:"dd MMM yyyy HH:mm"}}
          </ion-item>
          <ion-item>
                  <strong>User Name</strong>
              <span style="text-transform: capitalize" [innerHTML]="userInfo.login.username"></span>
          </ion-item>
      </ion-list>  
  </ion-content>