page-user-details {
.profile-segment {
	background: #3b9cad;
}
.profile-segment>ion-segment-button {
	color: #FFF !important;
}
.profile-segment>ion-segment-button.segment-activated {
	border-color: #ff7043 !important;
}
.gender-item p {
    float: left; 
    width: 30%;
    padding-left: 0px !important;
}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 2px #fff;
    padding: 4px;
}
.gender-item .item-inner {
    border-bottom: inherit !important;
}
input[type="radio"] {
    float: left;
    margin-right: 11px;
    margin-top: 2px;
}
.gender {
    width: 30%;
    float: left;
}
.profile-edit{
    background: color($colors,primary);
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 67px;
    left: 57%;
    font-size: 12px;
}
.list-ios{
    margin-top: -5px;
}
.profile-name{
    color: color($colors, dark);
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}
.profile-mail{
    color: color($colors, dark);
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.item-md {
    padding-right: 16px;
    padding-left: 16px;
}
ion-list ion-icon{
    color: color($colors, primary) !important;
    font-size: 24px;
}
ion-item .label-md,.item-ios{
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
ion-item .label-md p,.item-ios p{
    color: #696767 !important;
    font-size: 16px !important;
    padding-left: 10px !important;
}
.banner{
    position: relative;
    // min-block-size: 34%;
    overflow: hidden;
}
}
