<ion-header>
  <ion-navbar color="primary">
    <ion-title>
			MyConnectedHealthCare+
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users" (tap)="openDetails(user)">
      <ion-avatar item-start>
        <img src="{{user.picture.thumbnail}}">
      </ion-avatar>
      <h2><span style="text-transform: capitalize" [innerHTML]="user.name.title"></span> {{user.name.first}} {{user.name.last}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>
